body {
	background-color: grey;
	background-image: url("../img/bg2.png");
	background-repeat: repeat;
	background-position: relative;
	
	/* background-image:  url("../img/octoacidtrip.gif"); */
	
}

nav{
	width: 100%;
	display: inline-block;
	background-color: rgba(65,65,64,0.8);
}

button{
	background-color: rgba(237,14,25,0.3);
	width: 100px;
	height: 100px;
	border: 1px solid pink;
	margin-top:3px;
	margin-bottom:3px;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px black;
	margin-left: 1px;
}

.artistbutton{
	background-color: rgba(237,14,25,0.3);
	width: 225px;
	height: 260px;
	border: 1px solid pink;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px black;
	text-align: center;
	/*display: inline-block;*/
	margin-bottom: 15px;
	margin-right: 15px;
	padding-bottom: 15px;
}

.nav_img{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-bottom: 3px;
	margin-top: -3px;
	margin-left: 2px;
}

.searchfield{
	display: inline-block;
	margin-bottom: -20px;
	line-height: 2.2em;
	bottom: 2px;
	font-size: 40px;
	margin-top: 5px;
	width: 200px;
	background-color: rgba(250,120,120,0.5);
	text-shadow: 1px 1px white;
	font-color:white;
}


.main_activity{
	border: 2px solid red;
	display: inline-block;
	margin-left: 0px;
	float: left !important;
}

.mainrepeat{
	width: 220px;
	/*margin-left: 25px;*/
	display: inline-block;
	margin: 0 auto;
}

.container{
	display: inline-block; 
}

.container div{
	display:inline-block;
	margin-left: 0px;
	padding-left: 0px;


}


h1{
	background-color: rgba(250,120,120,0.5);
	font-weight: bold;
	border: 3px dashed rgb(250,20,20);
	text-shadow: 1px 1px white;

}

#sidemenu{
	display: inline-block;
	float: right;
}

footer{
	display: inline-block;
	width: 100%;

}