body {
	background-color: grey;
	background-image: url("../img/bg2.png");
	background-repeat: repeat;
	
	/* background-image:  url("../img/octoacidtrip.gif"); */
	
}

nav{
	width: 100%;
	display: inline-block;
	background-color: rgba(65,65,64,0.8);
}

button{
	background-color: rgba(237,14,25,0.3);
	width: 100px;
	height: 100px;
	border: 1px solid pink;
	margin-top:3px;
	margin-bottom:3px;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px black;
}

.nav_img{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-bottom: 3px;
	margin-top: -3px;
	margin-left: 2px;
}

.searchfield{
	display: inline-block;
}

.main_activity{
	border: 2px solid red;
	display: inline-block;
	margin-left: 0px;
	float: left !important;
}

.container div{
	display:inline-block;
	border: 2px solid red;
	margin-left: 0px;
	padding-left: 0px;


}

.container{

}

footer{
	display: inline-block;
	width: 100%;

}