body {
	background-color: grey;
	background-image: url("../img/bg2.png");
	background-repeat: repeat;
	background-position: relative;
	
	/* background-image:  url("../img/octoacidtrip.gif"); */
	
}

nav{
	width: 100%;
	display: inline-block;
	background-color: rgba(65,65,64,0.8);
	padding-top: 0px;
	padding-bottom: 3px;
}

#artistlink{
	color: white;
}

button{
	background-color: rgba(237,14,25,0.3);
	border: 1px solid pink;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px black;
	text-align: center;

}

.navbutton{
	width: 100px;
	height: 100px;
	margin-left: 1px;
	margin-bottom:3px;
	margin-top: 3px;

}

@media only screen and (min-width: 501px) {
nav{
	min-width: 602px;
}

ul{
	min-width: 602px;
}
.artistbutton{
	/* Dit is een div */
	background-color: rgba(237,14,25,0.3);
	width: 225px;
	height: 260px;
	border: 1px solid pink;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px black;
	text-align: center;
	display: inline;
	margin-bottom: 15px;
	margin-right: 15px;
	padding-bottom: 15px;

}

#mainrepeat{
	width: 220px;
	/*margin-left: 25px;*/
	display: inline-block;
	margin-right: 8px;
}
#artistrepeat{
	width: 220px;
	/*margin-left: 25px;*/
	display: block;
	margin-right: 8px;
	margin-bottom: 2px;
}

}

.nav_img{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-bottom: 3px;
	margin-top: -3px;
	margin-left: -1em;
	padding-left: 0px;
}

.searchfield{
	display: inline-block;
	line-height: 0.8em;
	font-size: 15px;
	margin-top: 0px;
	padding-left: 3px;
	width: 200px;
	background-color: rgba(250,120,120,0.5);
	text-shadow: 1px 1px white;
	font-color:white;
}


.main_activity{
	border: 2px solid red;
	display: inline-block;
	margin-left: 0px;
	float: left !important;
}



#artistlink{
	color: white;
}

.container{
	display: inline-block; 
	background-color: rgba(237,14,25,0.3);
}

.container div{
	display:inline-block;
	margin-left: 0px;
	padding-left: 0px;


}

#artistlink{
	color: white;
	text-decoration: none !important;	
}



h1{
	background-color: rgba(250,120,120,0.5);
	font-weight: bold;
	border: 3px groove rgba(250,20,20,0.5);
	text-shadow: 1px 1px black;
	font-family: 'Marck Script', cursive;
	color: rgb(250,220,220);
	-webkit-box-shadow: 10px 10px 100px 30px rgba(153,0,153,0.75);
	-moz-box-shadow: 10px 10px 100px 30px rgba(153,0,153,0.75);
	box-shadow: 10px 10px 100px 30px rgba(153,0,153,0.75);
	padding-left: 15px;
	text-align: center;
}

#sidemenu{
	display: inline-block;
	float: right;
}

footer{
	display: inline-block;
	width: 80%;
	margin: 20px;
	font-style: italic;
}

.aboutp {
	color:white;
	
}

#upload{
	padding: 15px;
	text-align: center;
	background-color: rgba(237,15,25,0.3);
}

#upload p{
	color: white;
	font-weight: bold;
	text-shadow: 0.5px 0.5px black;
}

input[type="submit"]{
	text-align: center;
	background-color: rgba(237,15,25,0.3);
	border: 1px solid black;
	box-shadow: 2px red;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    /*[class*="col-"] {
        width: 100%;
    }*/

    .navbutton{
		width: 100%;
		height: 20px;
		margin-left: 1px;
		margin-bottom:3px;
		margin-top: 3px;
		font-size: 10px;
		display: block;
	}

	.nav_img{
		width: 50px;
		height: 50px;
		display: block;
		margin: 0 auto;
		padding-left: 0px;
		
	}

	.searchfield{
		display: inline-block;
		line-height: 0.8em;
		font-size: 10px;
		margin-top: 0px;
		padding-left: 3px;
		width: 100%;
		text-align: center;
		background-color: rgba(250,120,120,0.5);
		text-shadow: -1px -1px black;
		font-color:white;
		color: white;
		}

    #artistimg{
    	width: 90px;
    	height: 100px;
    	}

    .artistbutton{
	/* Dit is een div */
		background-color: rgba(237,14,25,0.3);
		width: 92px;
		height: 148px;
		border: 1px solid pink;
		font-size: 10px;
		color: white;
		text-shadow: 1px 1px black;
		text-align: center;
		display: inline-block;
		margin-bottom: 5px;
		margin-right: 5px;
		padding-bottom: 5px;
	}

	.addArtistForm{
		
		margin: 0 auto;
		left:50%;

	}

	#artistformcentered{
		width: 400px;
		margin: 0 auto;
		position: fixed;
	}

	#upload {
		height: 300px;
		background-color: rgba(237,14,25,0.3);
	}


	#target ul button{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

}

hr{
	margin-top: -5px;
	margin-bottom: -7px;
}

#information{
display: inline;
background-color: blue;
}