<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">


<title>Upload - Steamy scissors</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<meta charset="utf-8">
</head>
<body ng-app="myapp" >
<script src="facebookSDK.js"></script>
<script src="firebaseSDK.js"></script>



	<nav class="col-md-12 cox-xs-12">
		<a href="start.html"><img src="img/logo.png" class="nav_img"></a>
		<button class="navbutton">Artists</button>
		<button class="navbutton">Tracks</button>
		<a href="about.html"><button class="navbutton">About</button></a>
		<a href="addArtists.html"><button class="navbutton">Add artist</button></a>
		<br>
		<input ng-model="search" type="text" class="searchfield" placeholder="Search" results="3"></input>
	</nav>

	<div class="col-md-12 cox-xs-12" id="upload">
		<ul>
			<li><h2>Naam Artiest</h2>
				<input class="uploadBox" type="text" id="naam" maxlength="30"></input>
			</li>
			<li>
				<h2>Leeftijd</h2>
				<input class="uploadBox" type="text" id="age" maxlength="30"></input>
			</li>	
			<li>
				<h2>Beschrijving</h2>
				<input class="uploadBox" type="text" id="description" maxlength="30"></input>
			</li>
			<li>
				<h2>FacebookLink</h2>
				<input class="uploadBox" type="text" id="facebook"></input>
			</li>
			<li>
				<h2>Afbeelding</h2>
				<input class="uploadBox" type="text" id="naam"></input>
			</li>
			<li>
				<button ng-model="upload">Upload</button>
			</li>
	

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="Controller.js"></script>
</body>
</html>
