
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="artistScript.js"></script>
<script src="routing.js"></script>

<div class="container">
	<div class="col-md-10 col-xs-12" >
			<h1> {{artist.name }} </h1>
	</div>
	<div class="col-md-10 col-xs-12">
		<div class="information">
		<script>
		var ArtistName = window.location.hash;
	console.log( hostName );
		</script>

		<p> HEY HALLOW </p>

			<!-- WAAROM KOMT ER HIER GEEN WIKIPEDIA INFORMATIE ????? -->
			</div>

		</div>
	</div>
</div>