		<div class="container">
			
			<div class="col-md-10 col-xs-12">

				

				<div class="aboutp">
				<h1>About</h1>

					<p>Wij zijn een jong programmeurs trio (duo) die vonden dat er een alternatief voor IMDB moest zijn voor muziek dus wij zijn hier aan begonnen voor het vak Cloud API's</p>
					<p>Graphic design: Sven Bollaerts</p>
					<p>Backend proberen: Kilian Pauwels</p>
					<p>pullen: Wart Scheppers</p>
					<p>als u ons wil steunen kan u altijd doneren via deze knop: </p>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="F2XEQ8VV4V7WE">
<input type="image" src="https://www.paypalobjects.com/en_US/BE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

				</div>
			</div>
		<div>