	<div class="col-md-12 cox-xs-12" id="upload" ng-controller="addArtistsController as ctrl">

		<h1>Add Artist</h1>
		<div id="artistformcentered">
		<form name="myForm" ng-submit="ctrl.upload()" class="addArtistForm">
			<table>
				<tr><td><p>Name:</p></td><td><input type="text" ng-model="ctrl.artist.name"></td></tr>
			<tr><td><p>Age:</p></td><td> <input type="text" ng-model="ctrl.artist.age"></td></tr>
			<tr><td><p>Description:</p></td><td> <input type="text" ng-model="ctrl.artist.description"></td></tr>
			<tr><td><p>Facebooklink:</p></td><td> <input type="text" ng-model="ctrl.artist.facebooklink"></td></tr>
			<tr><td><p>Image Link:</p></td><td> <input type="text" ng-model="ctrl.artist.img"></td></tr><br>
			<tr><td></td><td><input type="submit" value="Upload"></td></tr></table>
		</form>
	</div>
	</div>